<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/cadFinalizado.css">
    <title>Techno Growing</title>
</head>
<body>
    <div class="imagem">
        <img src="./images/correto.png" alt="??Finalizado??">
    </div>
    <div class="finalizado-desc">
        <p class="p1">Seu cadastro foi finalizado com sucesso</p>
        <a href="#"><button class="botao">Return to home page</button></a>
    </div>
</body>
</html>