<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./contaUsuario.css">
    <link rel="icon" href="./iconeSite.png">
    <title>Techno Growingt</title>
</head>
<body>
    <header>
        <div class="Container">
            <div class="logo">
                <img src="logotipo_sem_ONG- sem fundo.png">
            </div> 
            <div class="menu">
                <nav>
                    <ul>
                        <a href="./PGinicial.html"><li>Inicio</li></a>
                        <a href="#"><li>Cadastar Ong</li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="geral">
        <div class="container1">
            <div class="texto1">Cadastar
                <br>Usuario</div>
            <form action="#">
                <div class="data">
                    <input type="text" required placeholder="Nome Completo">
                </div>
                <div class="data">
                    <input type="email" required placeholder="Email">
                </div>
                <div class="data">
                    <input type="password" required placeholder="Senha">
                </div>
            </form>
        </div>
        <div class="container2">
            <form action="#">
                <div class="data">
                    <input type="text" required placeholder="CPF">
                </div>
                <div class="data">
                    <input type="text" required placeholder="Telefone">
                </div>
                <div class="data">
                    <input type="text" required placeholder="Rede Social">
                </div>
                <div class="data">
                    <input type="text" required placeholder="Experiencia">
                </div>
                <button type="submit" id="entrar"><a href="#">Enviar</a></button>
            </form>
        </div>
    </div>
</body>
</html>