<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 (Not Found)!!</title>
    <link rel="stylesheet" href="css/erro">
</head>
<body>
    <div id="content">
        <div class="error">
            <label>!! 404 !!</label>
        </div>
        <div class="description">
            <p>The page cannot be found, please check that the address is spelled correctly.</p>
        </div>
        <div class="return">
            <a href="#"><button class="botao">Return to home page</button></a>
        </div>
    </div>
</body>
</html>