{{>partials/header}}
<link rel="stylesheet" href="./css/section-carrocel.css">
<link rel="icon" type="imagem/png" href="./images/iconeSite.png">

    <section>
        <div id="slider">
            <h3>Conheça projetos já concluídos</h3>
            <a href="#"><img class="selected" src="./images/planta.png" alt="Meio Ambiente"></a>
            <a href="#"><img src="./images/clinica.png" alt="Reabilitação"></a>
            <a href="#"><img src="./images/estudantes.png" alt="Estudo"></a>
            <a href="#"><img src="./images/LGBT.jpeg" alt="Amor"></a>
        </div>
    </section>


    <script src="js/carousel.js"></script>

{{>partials/footer}}