{{>partials/header}}


<link rel="stylesheet" href="./css/login.css">

    <div class="center">
        <div class="container">
            <div class="text">Login</div>
                <form action="#">
                    <div class="data">
                        <label>Email</label>
                        <input type="text" required>
                    </div>
                    <div class="data">
                        <Label>Senha</Label>
                        <input type="password" required>
                    </div>
                    <div class="forgot-pass">
                        <a href="">Esqueci minha Senha</a></div>
                        <div class="btn">
                            <div class="inner">
                        </div>
                        <button type="submit" id="acessar"><a href="/">Acessar</a></button>
                    </div>
                    <div class="singup-link">Sem Conta? <a href="./CriarContaUsuario.mustache">Crie agora</a></div>
                    </div>
                    </div>
                    </div>
                </form>
        </div>
    </div>

    {{>partials/footer}}